* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-family: Verdana,Geneva,sans-serif; }

body {
  font-family: "verdana";
  font-size: 14px;
  color: #000000; }

.container {
  width: 1140px;
  margin: 0 auto; }

.clearfix {
  clear: both; }

@font-face {
  font-family: "verdana";
  src: url("../font/Verdana.ttf"); }
@font-face {
  font-family: "Book_antiqua_Italic";
  src: url("../font/Book_antiqua_Italic.ttf"); }
@font-face {
  font-family: "Vollkorn-Italic";
  src: url("../font/Vollkorn-Italic.ttf"); }
.wrapper-header {
  margin: 25px 0 10px;
  height: 100px; }
  .wrapper-header .logo {
    text-align: center;
    line-height: 20px; }
  .wrapper-header .login {
    height: 91px;
    float: right;
    line-height: 20px;
    margin-top: -50px; }
    .wrapper-header .login .list {
      margin: 0;
      padding: 0; }
      .wrapper-header .login .list .list-item {
        display: inline-block;
        padding-left: 20px; }
        .wrapper-header .login .list .list-item img {
          padding-right: 15px;
          display: inline-block;
          vertical-align: bottom; }
        .wrapper-header .login .list .list-item a {
          text-transform: uppercase;
          font-size: 15px;
          text-decoration: none;
          color: #404041; }
          .wrapper-header .login .list .list-item a:hover {
            color: #fdb813;
            transition: all 0.5s ease; }
  .wrapper-header .form-search {
    position: relative;
    margin-top: 10px; }
    .wrapper-header .form-search .input {
      width: 185px;
      height: 30px;
      border: 1px solid #404041;
      outline: none;
      padding: 0 10px; }
    .wrapper-header .form-search .submit {
      background: url(../images/icon/search.png) 0 0 no-repeat;
      cursor: pointer;
      height: 31px;
      width: 33px;
      position: absolute;
      left: 170px;
      top: 4px;
      border: none;
      outline: none; }
    .wrapper-header .form-search .border-select {
      display: inline-block;
      border: 1px solid #404041;
      margin-left: 6px; }
      .wrapper-header .form-search .border-select .select {
        width: 185px;
        height: 32px;
        background-color: transparent;
        padding-left: 5px;
        margin-left: 10px;
        border: none;
        outline: none; }

.wrapper-nav {
  margin-bottom: 25px; }
  .wrapper-nav .menu {
    display: flex;
    justify-content: space-between; }
    .wrapper-nav .menu .menu-item {
      display: inline-block;
      padding: 3px; }
      .wrapper-nav .menu .menu-item a {
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        color: #404041; }

.title-colect {
  text-align: center;
  font-size: 56px;
  letter-spacing: 4px;
  line-height: 56px;
  padding: 40px 0;
  font-style: italic;
  font-family: "Book_antiqua_Italic"; }

.gallery {
  width: 100%; }
  .gallery .gallery-item:nth-child(1),
  .gallery .gallery-item:nth-child(2) {
    margin-right: 33px; }

.keeping {
  text-align: center;
  font-size: 36px;
  margin: 40px 0;
  padding: 25px 0;
  background-color: #392f2e;
  color: #ffffff;
  font-family: "Vollkorn-Italic"; }

.newspasstion img {
  width: 1140px; }

.wraper-desc {
  margin-top: 30px; }
  .wraper-desc .wrap-left {
    float: left;
    width: 435px;
    word-break: break-all;
    margin-left: 30px; }
    .wraper-desc .wrap-left p {
      line-height: 22px;
      font-size: 15px; }
  .wraper-desc .wrap-right {
    float: right; }
    .wraper-desc .wrap-right .ds {
      margin: 0;
      padding: 0;
      margin-right: 70px; }
      .wraper-desc .wrap-right .ds .ds-item {
        display: inline-block;
        padding-right: 5px;
        position: relative; }
        .wraper-desc .wrap-right .ds .ds-item img {
          width: 224px;
          height: 224px;
          transition: all 0.3s; }
        .wraper-desc .wrap-right .ds .ds-item .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #fdb813;
          overflow: hidden;
          width: 98%;
          height: 0;
          transition: .5s ease; }
          .wraper-desc .wrap-right .ds .ds-item .overlay .text {
            white-space: nowrap;
            color: white;
            font-size: 18px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 28px; }
            .wraper-desc .wrap-right .ds .ds-item .overlay .text span {
              padding-left: 30px; }
      .wraper-desc .wrap-right .ds .ds-item:hover .overlay {
        height: 30%; }
    .wraper-desc .wrap-right .follow {
      margin: 10px 78px;
      font-size: 14px; }
      .wraper-desc .wrap-right .follow img {
        display: inline-block;
        vertical-align: middle;
        padding: 5px; }

.wraper-footer {
  margin: 76px 0 45px; }
  .wraper-footer .stay {
    float: left;
    margin-left: 30px; }
    .wraper-footer .stay .title-bee {
      margin-bottom: 80px; }
    .wraper-footer .stay .inputf {
      width: 352px;
      height: 30px;
      padding: 0 10px;
      outline: none; }
    .wraper-footer .stay .social {
      display: block;
      text-align: center;
      margin-top: 10px; }
      .wraper-footer .stay .social .social-item {
        display: inline-block;
        padding: 0 3px; }
    .wraper-footer .stay .feel {
      font-size: 13px;
      margin-top: 5px; }
  .wraper-footer .about {
    float: right; }
    .wraper-footer .about .general {
      width: 100%; }
      .wraper-footer .about .general .general-item {
        float: left;
        width: 208px; }
        .wraper-footer .about .general .general-item .us {
          margin: 0;
          padding: 0; }
          .wraper-footer .about .general .general-item .us .us-item a {
            text-decoration: none;
            color: #404041;
            line-height: 20px;
            font-size: 12px; }
            .wraper-footer .about .general .general-item .us .us-item a:hover {
              color: #fdb813;
              transition: all 0.5s ease; }
        .wraper-footer .about .general .general-item .title {
          margin-bottom: 46px; }
        .wraper-footer .about .general .general-item .title-2 {
          margin-bottom: 30px; }

.gallery .gallery-item:nth-child(1),
.gallery .gallery-item:nth-child(2), .gallery .gallery-item:nth-child(3) {
  float: left;
  width: 358px;
  height: 382px; }

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

/*# sourceMappingURL=style.css.map */
