.title-colect {
  text-align: center;
  font-size: 56px;
  letter-spacing: 4px;
  line-height: 56px;
  padding: 40px 0;
  font-style: italic;
  font-family: "Book_antiqua_Italic";
}
.gallery {
  width: 100%;
  .gallery-item:nth-child(1),
  .gallery-item:nth-child(2) {
    @extend %gallery-item;
    margin-right: 33px;
  }
  .gallery-item:nth-child(3) {
    @extend %gallery-item;
  }
}
.keeping {
  text-align: center;
  font-size: 36px;
  margin: 40px 0;
  padding: 25px 0;
  background-color: map-get($color, gray_2);
  color: map-get($color, white);
  font-family: "Vollkorn-Italic";
}
.newspasstion {
  img {
    width: 1140px;
  }
}
.wraper-desc {
  margin-top: 30px;
  .wrap-left {
    float: left;
    width: 435px;
    word-break: break-all;
    margin-left: 30px;
    p {
      line-height: 22px;
      font-size: 15px;
    }
  }
  .wrap-right {
    float: right;
    .ds {
      margin: 0;
      padding: 0;
      margin-right: 70px;
      .ds-item {
        display: inline-block;
        padding-right: 5px;
        position: relative;
        img {
          width: 224px;
          height: 224px;
          transition: all 0.3s;
        }
        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: map-get($color, orange_2);
          overflow: hidden;
          width: 98%;
          height: 0;
          transition: .5s ease;
          .text {
            white-space: nowrap;
            color: white;
            font-size: 18px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 28px;
            span {
             padding-left: 30px;
            }
          }
        }
      }
      .ds-item:hover .overlay {
        height: 30%;
      }
    }
    .follow {
      margin: 10px 78px;
      font-size: 14px;
      img {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
      }
    }
  }
}
