* {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-family: Verdana,Geneva,sans-serif;
}
body {
  font-family: "verdana";
  font-size: 14px;
  color:map-get($color, black);
}
@font-face {
  font-family: "verdana";
  src: url('../font/Verdana.ttf');
}
@font-face {
  font-family: "Book_antiqua_Italic";
  src: url('../font/Book_antiqua_Italic.ttf');
}
@font-face {
  font-family: "Vollkorn-Italic";
  src: url('../font/Vollkorn-Italic.ttf');
}
.clearfix {
  clear: both;
}
